html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #EEEEEE;
  font-family: 'Titillium Web', sans-serif;
}

h1.title {
  text-align: center;
  font-size: 58px;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: -90px;
  color: #113A52;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.application-container {
  width: 500px;
}

.game-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #efefef;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.winner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  text-align: center;
  font-size: 50px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner-overlay .winner-title {
  color: #fff!important;
  font-weight: bold;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.winner-overlay .btn {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  background: #00C3B6;
  border: 0;
  cursor: pointer;
}

.winner-overlay .btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.winner-overlay .btn:focus {
  outline: none;
  border: none;
}

.game-container .row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.game-container .row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.header {
  text-align: center;
  height: 40px;
  background: #113A52;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.game-container .row .cell {
  flex: 1;
  height: 150px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 150px;
  text-align: center;
  font-size: 120px;
  color: #fff;
  background: #D7DADB;
  border: 5px solid #D7DADB;
  cursor: pointer;
}

.game-container .row .cell:last-child {
  margin-right: 10px;
}
.game-container .row:last-child .cell {
  margin-bottom: 10px;
}

.game-container .row .cell:hover {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.game-container .row .marked {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.game-container .row .marked-cross, .game-container .row .marked-cross:hover {
  background: #00C3B6;
  border-color: #00C3B6;
}

.game-container .row .marked-circle, .game-container .row .marked-circle:hover {
  background: #113A52;
  border-color: #113A52;
}